
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f4f4f4;
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: red;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: white;
  text-decoration: none;
}

.search-bar {
  display: inline-block;
  /* margin: 0 20px; */
}

.search-bar input {
  padding: 5px;
  font-size: 14px;
}

.search-bar button {
  padding: 5px 10px;
  font-size: 14px;
}

.articles {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.article-card {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  flex: 1;
}

.article-card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

@media (max-width: 600px) {
  header {
    flex-direction: column; 
    gap: 10px
  }
}